*test_output*
__pycache__/
testing.h5ad
.vscode/settings.json
data/*[!{.py}]
data/*[!{.md}]
.ipynb_checkpoints
scIB.egg-info
*cache*
.snakemake
.Rproj.user
Benchmarking_data_integration.Rproj
.DS_Store
.Rhistory
.idea/
*.Rproj
src/
benchmark_results
rsessions
!data/create_ifnb_dataset.R
.scib-pipeline-dev
!data/create_imbalanced_datasets.R
data/create_imbalanced_atlas.R
benchmark_imbalance
benchmark_imbalance_atlas
configs/benchmark_imbalance.yaml
configs/benchmark_imbalance_atlas.yaml
scripts/benchmark_imbalance.py
benchmark_imbalance_28072025
benchmark_imbalance_06082025

